/observations/
/opacities/
/runs*/
/chain*.hdf5
/corner.pdf
/.idea/
/testing.ipynb
/.ipynb_checkpoints/
__pycache__/
options.pickle
run_model.log
/standard_scientific.mplstyle
/opacities_*/
/old_runs/
/img/
.DS_Store
/*.picklegit